body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 80%;
  margin: auto;
  background-color: #ccc;
}
h2 {
  background-color: rgb(125, 135, 144);
  text-align: center;
}
.pp {
  text-align: center;
}
h3 {
  background-color: rgb(108, 111, 111);
  color: #2b34b0;
  font-size: 26px;
  border-bottom: solid 3px;
}

.habilidades2{
   padding-left: 500px;
 margin-top: -140px;
}
